<div class="card mb-3">
  <img src="/assets/gardening.jpg" class="card-img-top" alt="..." />
  <div class="card-body">
    <h3 class="card-title">{{ job?.title }}</h3>
    <p class="card-text">
      {{ job?.description }}
    </p><br>
    <p class="card-text">
      Location: {{ job?.location.street }}, {{ job?.location.city }},
      {{ job?.location.country }}
    </p>
    <p class="card-text">
      Posted by: {{ job?.ownerId.firstName }} {{ job?.ownerId.lastName }}
    </p>
    <p class="card-text">Contact: {{ job?.ownerId.phone }}</p>
    <p class="card-text">
      <small class="text-muted">Posted date: {{ job?.date }}</small>
    </p>
    <p>
      <button type="button" class="btn btn-primary">Save</button>&nbsp;
      <button *ngIf="!isDetailPage" [routerLink]="['/jobs', job?.id]" type="button" class="btn btn-info">Job Detail</button>
    </p>
  </div>
</div>
