<div class="card">

  <!-- for detail page : image and map -->
  <div *ngIf="isDetailPage" class="container">
    <div class="row">
      <!-- md makes the column responsive: can be changed to other size (sm/lg) -->
      <div class="col-md-6 nopadding">
        <img
          src="{{ job?.jobPic }}"
          class="card-img-top centered-and-cropped"
        />
      </div>
      <!-- md makes the column responsive: can be changed to other size (sm/lg) -->
      <div class="col-md-6 nopadding">
        <map-detail [lat]="job?.location.lat" [lng]="job?.location.lng"></map-detail>
      </div>
    </div>
  </div>

  <!-- for preview page : image only -->
  <img
    *ngIf="!isDetailPage"
    src="{{ job.jobPic }}"
    class="card-img-top centered-and-cropped-2"
    alt="..."
  />

  <!-- common for preview and detail -->
  <div class="card-body">
    <div *ngIf="!isDetailPage">
      <div class="row" style="padding-right: 10px">
        <div class="col-md-6" style="padding-right: 0px;">
          <h4 class="card-title textleft">{{ job?.title }}</h4>
        </div>
        <div class="col-md-6" style="padding-left: 0px;">
          <h4 class="card-text textright">
            {{ job?.price }} SEK
          </h4>
        </div>
      </div>

      <p class="card-text">
        {{ job?.description }}
      </p>
      <br />
      <p class="card-text">
        Location: {{ job?.location.street }}, {{ job?.location.city }},
        {{ job?.location.country }}
      </p>
      <p class="card-text">
        Posted by: {{ job?.ownerId.firstName }} {{ job?.ownerId.lastName }}
      </p>
      <p class="card-text">Contact: {{ job?.ownerId.phone }}</p>
      <p class="card-text">
        <small class="text-muted">Posted date: {{ job?.date }}</small>
      </p>
   </div>
   
   <div *ngIf="isDetailPage" class="col-6 nopadding">
      <div class="row" style="padding-right: 10px">
        <div class="col-md-6" style="padding-right: 0px;">
          <h4 class="card-title textleft">{{ job?.title }}</h4>
        </div>
        <div class="col-md-6" style="padding-left: 0px;">
          <h4 class="card-text textright">
            {{ job?.price }} SEK
          </h4>
        </div>
      </div>

      <p class="card-text"  style="padding-right: 10px">
        {{ job?.description }}
      </p>
      <br />
      <p class="card-text">
        Location: {{ job?.location.street }}, {{ job?.location.city }},
        {{ job?.location.country }}
      </p>
      <p class="card-text">
        Posted by: {{ job?.ownerId.firstName }} {{ job?.ownerId.lastName }}
      </p>
      <p class="card-text">Contact: {{ job?.ownerId.phone }}</p>
      <p class="card-text">
        <small class="text-muted">Posted date: {{ job?.date }}</small>
      </p>
   </div>
   <br>
    <div *ngIf="!guestUser">
      <p>
        <button *ngIf="isAppliedByUser && isDetailPage" type="button" class="btn btn-danger btn-space" (click)="removeApplication()">Remove</button>
        <button *ngIf="(job.ownerId.id == user.id) && isDetailPage" [routerLink]="['/editjob', job?.id]"  type="button" class="btn btn-info btn-space">Edit</button>
        <button *ngIf="(job.ownerId.id == user.id) && isDetailPage" type="button" class="btn btn-info btn-space" (click)="toggleApplicants()">Toggle Applicants</button>
        <button *ngIf="!(job.ownerId.id == user.id) && !isAppliedByUser && isDetailPage" type="button" class="btn btn-primary btn-space" (click)="toggleApplyForm()">Apply</button>&nbsp;
        <button *ngIf="!isDetailPage" [routerLink]="['/jobs', job?.id]" type="button" class="btn btn-info">Details</button>
      </p>
    </div>

    <div *ngIf="applyForm">
      <app-application-form [job]="job" [user]="user"></app-application-form>
    </div>
    <div class="container">
        <app-applicants-list *ngIf="showApplicants && (job.ownerId.id == user.id) && isDetailPage" class="fright" [job]="job"></app-applicants-list>
    </div>
  </div>
</div>

        <!-- <button  *ngIf="isDetailPage" type="button" class="btn btn-info" (click)="backClicked()" style="float:right">Back to search</button> -->

        <!-- <div class="card-body">
          <h3 class="card-title">{{ job?.title }}</h3>
          <p class="card-text">
            {{ job?.description }}
          </p>
          <br />
          <p class="card-text">
            Location: {{ job?.location.street }}, {{ job?.location.city }},
            {{ job?.location.country }}
          </p>
          <p class="card-text">
            Posted by: {{ job?.ownerId.firstName }} {{ job?.ownerId.lastName }}
          </p>
          <p class="card-text">Contact: {{ job?.ownerId.phone }}</p>
          <p class="card-text">
            <small class="text-muted">Posted date: {{ job?.date }}</small>
          </p>
        </div> -->