.centered-and-cropped {
  object-fit: cover;
  height: 400px;
}

.centered-and-cropped-2 {
  object-fit: cover;
  height: 350px;
}

.btn-space {
  margin-right: 5px;
}

.nopadding {
  padding: 0;
}

.textleft {
}

.textright {
  text-align : right;
  /* font-size: 14pt; */
  color: #0070cc
}