.odd-cardbody {
  min-height: 820px;
}

.input-group>.input-group-prepend {
  flex: 0 0 20%;
}

.input-group .input-group-text {
  width: 100%;
}

#marg {
  margin-top: 40px;
}

.centered {
  margin-left: auto;
	margin-right: auto;
  display: block;
  text-align: center;
}

#pic {
  border-radius: 6px;
}

.right {
  margin-top: 10px;
  margin-right: 4%;
  float: right;
}

#hidden {
  display: none;
  animation: appear;
  animation-duration: 500ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.pointer { cursor: pointer; }


/* .card {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
} */

/* div {
    border-left: none !important;
    border-right: none !important;
} */