<div class="container">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th> {{user.firstName + " " + user.lastName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ user.description }}</td>
        </tr>
        <tr>
          <td>{{ user.phone }}</td>
        </tr>
        <tr>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td>{{ user.password }}</td>
        </tr>
      </tbody>
    </table>
    
</div>