<div id="marg" class="container">
  <div class="fiftyPercent">

    <!--Your profile-->
    <!-- Picture -->
    <div class="card-body">
      <img src="{{userPic}}" id="pic" class="centered" height="200px" width="200px" />
      <div>
        <label class="file-upload-container right" for="file-upload">
          <input id="file-upload" type="file" />
        </label>
      </div>
    </div>

    <!--Description-->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">About you:</span>
      </div>
      <textarea rows="8" cols="40" [(ngModel)]="user.description" name="description" class="form-control"
        id="descriptionField" placeholder="Write something about yourself"></textarea>
    </div>

    <!--informations-->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">First name</span>
      </div>
      <input [(ngModel)]="user.firstName" name="fir stName" type="text" class="form-control" id="firstNameField"
        placeholder="First name" />
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Last name</span>
      </div>
      <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control" id="lastNameField"
        placeholder="Enter email" />
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Email address</span>
      </div>
      <input [(ngModel)]="user.email" name="email" type="email" class="form-control" id="emailField"
        placeholder="Enter email" />
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Phone number</span>
      </div>
      <input [(ngModel)]="user.phone" name="phone" type="text" class="form-control" id="phoneField"
        placeholder="Enter phone number" />
    </div>

    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> Change password</span>
      </div>
      <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="passwordField"
        placeholder="New password" autocomplete="new-password"/>
    </div>
    <button (click)="updateUser()" type="submit" class="btn btn-primary centered">
      Save information
    </button>
    <small class="centered" id="hidden"><em>Profile updated!</em></small>
  </div>
</div>