<div class="search-page-container">
  <div class="row">
    <!-- Search Bar -->
    <div class="col-12 text-center searchbar">
      <search-bar (output)="getUserSearch($event)"></search-bar>
    </div>
  </div>

  <div class="row" style="height: 700px">
    <!-- List of Jobs -->
    <div class="col-4" style="height: 100%; overflow-y: auto;">
      <!-- Job matches text -->
      <div class="col-12" *ngIf="[userSearch?.length] > 0">
        <p>Job matches for: {{ userSearch }}</p>
      </div>

      <div *ngFor="let job of jobs">
        <div
          *ngIf="
            aContainsB(job.title, [userSearch]) ||
            aContainsB(job.description, [userSearch]) ||
            aContainsB(job.location.city, [userSearch]) ||
            aContainsB(job.location.country, [userSearch])
          "
        >
          <job-card [job]="job" (output)="getSelectedJob($event)"></job-card>
        </div>
      </div>
    </div>

    <!-- Selected job -->
    <div
      class="col-4 sticky-top"
      id="job-detail"
      *ngIf="selectedJob != null"
      style="height: 100%; overflow-y: auto;"
    >
      <job-detail [job]="selectedJob"></job-detail>
    </div>

    <div class="col-4 sticky-top">
      <map-detail></map-detail>
    </div>
  </div>
</div>
