<div class="search-page-container">
  <div class="">
    <!-- Search Bar -->
    <div class="searchbar">
      <search-bar (output)="getUserSearch($event)"></search-bar>
    </div>
  </div>

  <div class="row">
    <!-- Job matches text -->
    <div class="col-3" *ngIf="userSearch != ' ' && [userSearch?.length] > 0">
      <p>Found {{ searchedJobs.length }} results for {{ userSearch }}</p>
    </div>

    <div class="col-2" *ngIf="userSearch != ' ' && [userSearch?.length] > 0">
      <button class="btn btn-light btn-sm showAllJobs" (click)="sortByPrice()">
        Sort by price
      </button>
      <button class="btn btn-light btn-sm showAllJobs" (click)="sortByIdButton()">
        Sort by most recent
      </button>
    </div>
  </div>

  <div class="row">
    <!-- List of Jobs -->
    <div
      *ngIf="jobDataLoaded && userSearch"
      class="col-4"
      style="height: 720px; overflow-y: auto;"
    >
      <div *ngFor="let job of searchedJobs">
        <job-card [job]="job" (output)="getSelectedJob($event)"></job-card>
      </div>
    </div>

    <!-- Selected job -->

    <div
      *ngIf="selectedJob != null && userSearch"
      class="col-4 sticky-top"
      id="job-detail"
      style="height: 720px; overflow-y: auto;"
    >
      <job-detail [job]="selectedJob"></job-detail>
    </div>

    <!-- Map for list of jobs -->
    <div
      class="col-4 sticky-top"
      *ngIf="userSearch"
    >
      <map-list *ngIf="searchedJobLoaded" [joblistForMap]="searchedJobs" (selectedMarker)="selectedMarkerToJob($event)"></map-list>
    </div>
  </div>
</div>

<!-- Caption on video -->
<div *ngIf="!userSearch" class="videoOverlay">
  <div class="caption">
    <h1 class="captiontext">Meet Odd Job,</h1>
    <h1 class="captiontext">we help each other!</h1>
  </div>
</div>
<!-- Background video -->
<video *ngIf="!userSearch" autoplay muted loop class="" id="myVideo">
  <source src="/assets/Working-Space.mp4" type="video/mp4" />
</video>
