<div class="search-page-container">
  <div class="">
    <!-- Search Bar -->
    <div class="searchbar">
      <search-bar (output)="getUserSearch($event)"></search-bar>
    </div>
  </div>

  <div class="">
    <!-- Job matches text -->
    <div class="col-12" *ngIf="userSearch != ' ' && [userSearch?.length] > 0">
      <p>Job matches for: {{ userSearch }}</p>
    </div>
  </div>

  <div class="row">
    <!-- List of Jobs -->
    <div
      *ngIf="jobDataLoaded && userSearch"
      class="col-4"
      style="height: 600px; overflow-y: auto;"
    >
      <div *ngFor="let job of searchedJobs">
          <job-card [job]="job" (output)="getSelectedJob($event)"></job-card>
      </div>
    </div>

    <!-- Selected job -->

    <div
      *ngIf="selectedJob != null && userSearch"
      class="col-4 sticky-top"
      id="job-detail"
    >
      <job-detail [job]="selectedJob"></job-detail>
    </div>

    <!-- Map for list of jobs -->
    <div class="col-4 sticky-top" *ngIf="userSearch">
      <map-list *ngIf="jobDataLoaded" [joblistForMap]="searchedJobs"></map-list>
    </div>
  </div>
</div>

<!-- Caption on video -->
<div *ngIf="!userSearch" class="videoOverlay">
  <div class="caption">
    <h1 class="captiontext">Meet Odd Job,</h1>
    <h1 class="captiontext">We help each other!</h1>
  </div>
</div>
<!-- Background video -->
<video *ngIf="!userSearch" autoplay muted loop class="" id="myVideo">
  <source src="/assets/Working-Space.mp4" type="video/mp4" />
</video>
