.searchbar{
  padding: 20px;
}

.search-page-container{
  padding: 20px;
}


#job-detail{
  animation-name: appear;
  animation-duration: 500ms;
}


@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
