.odd-cardbody {
    max-width: 900px;
    min-height: 750px;
}

.input-group>.input-group-prepend {
    flex: 0 0 20%;
}

.input-group .input-group-text {
    width: 100%;
}

#invalidAddress {
    font-size: 70%;
    color: #2c2c2c;
    display: none;margin-left: auto;
}

#validAddress {
    font-size: 70%;
    color: #2c2c2c;
    display: none;
}

