<div class="card bg-light">
    <article class="card-body col-sm-8 container">
        <h4 class="card-title mt-3 text-center">Post Job</h4>
        <form [formGroup]="postJobForm" (ngSubmit)="onSubmit()">

        <!-- Job title -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Title</span>
          </div>
          <input formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" name="title" placeholder="Title" type="text">
        </div>
        <!-- Job description -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Description</span>
            </div>
            <textarea formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" name="description" placeholder="Description" type="text"></textarea>
          </div>
        <!-- Job Picture URL -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Picture URL</span>
          </div>
          <input formControlName="jobPic" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobPic.errors }" name="jobPic" placeholder="URL" type="text">
        </div>
        <!-- Job price -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Price</span>
          </div>
          <input formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" name="price" placeholder="Price" type="text">
        </div>
        <!-- Job date -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Date</span>
          </div>
          <input formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" name="date" placeholder="Date" type="text">
        </div>
        <h6 class="text-center">Location</h6>
        <!-- Location street -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Street</span>
          </div>
          <input formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" name="street" placeholder="Street" type="text">
        </div>
        <!-- Location zipCode -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Post number</span>
          </div>
          <input formControlName="zipCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipCode.errors }" name="zipCode" placeholder="Post number" type="text">
        </div>
        <!-- Location city -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">City</span>
          </div>
          <input formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" name="city" placeholder="City" type="text">
        </div>
        <!-- Location country -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Country</span>
          </div>
          <input formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" name="country" placeholder="Country" type="text">
        </div>
        <!-- Location latitude -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Latitude</span>
          </div>
          <input formControlName="lat" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lat.errors }" name="lat" placeholder="xx.xxxxxx" type="text">
        </div>
        <!-- Location longitude -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Longitude</span>
          </div>
          <input formControlName="lng" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lng.errors }" name="lng" placeholder="xx.xxxxxx" type="text">
        </div>

        <!-- button -->
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary btn-block"> Post Job </button>
        </div>
      </form>
    </article>
</div>