<div class="card bg-light">
    <article class="card-body mx-auto">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input required minlength="3" ngModel name="firstName" #firstName="ngModel" id="firstName" class="form-control" placeholder="First name" type="text">
          <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid"></div>
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input required minlength="3" ngModel name="lastName" #lastName="ngModel"  name="lastName" class="form-control" placeholder="Last name" type="text">
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input required minlength="3" ngModel name="email" #email="ngModel"  name="email" class="form-control" placeholder="Email address" type="email">
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <input required minlength="3" ngModel name="phone" #phone="ngModel"  name="phone" class="form-control" placeholder="Phone number" type="text">
        </div>
        <!-- form-group end.// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input required minlength="3" ngModel name="password" #password="ngModel"  class="form-control" placeholder="Create password" type="password">
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control" placeholder="Repeat password" type="password">
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <button (click)="register()" class="btn btn-primary btn-block"> Create Account </button>
        </div>
        <!-- form-group// -->
        <p class="text-center">Have an account? <a routerLink="/login">Log In</a> </p>
      </form>
    </article>
  </div>