<br><br>
<div class="card container odd-cardbody" *ngIf="job !== undefined">
  <article class="card-body col-sm-8 container">
    <h4 class="card-title mt-3 text-center">Edit Job</h4>
    <br />
    <form>
      <!-- Job Picture -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Picture</span>
        </div>
        <div class="card">
          <img [src]="job.jobPic" id="pic" height="200px" width="200px" />
          <label class="file-upload-container" for="file-upload">
            <input id="file" type="file" (change)="uploadPicture()" />
          </label>
        </div>
      </div>

      <!-- Job title -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Title</span>
        </div>
        <input
          [(ngModel)]="job.title"
          class="form-control"
          name="title"
          placeholder="Title"
          type="text"
        />
      </div>
      <!-- Job description -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Description</span>
        </div>
        <textarea
          rows="4"
          [(ngModel)]="job.description"
          class="form-control"
          name="description"
          placeholder="Description"
          type="text"
        ></textarea>
      </div>
      <!-- Job price -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Pay</span>
        </div>
        <input
          [(ngModel)]="job.price"
          class="form-control"
          name="price"
          placeholder="Price"
          type="text"
        />
      </div>

      <!--Location w/ google autocomplete-->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Location</span>
        </div>
        <input
          [value]="job.location.street + ', ' + job.location.city"
          id="address"
          class="form-control"
          ngx-google-places-autocomplete
          [options]="options"
          #placesRef="ngx-places"
          (onAddressChange)="handleAddressChange($event)"
        />
      </div>

      <div>
        <!--If not happy with submitted address -->
        <span id="invalidAddress">Please enter a valid address</span>
        <!--If happy with submitted address -->
        <span id="validAddress"> &#9989; {{ completeAddress }} </span>
        <br />
      </div>

      <!-- button -->
      <div class="form-group">
        <button (click)="submit()" class="btn btn-primary btn-block">
          Save changes
        </button>
        <button (click)="deleteJob()" class="btn btn-danger btn-block">
          Delete job
        </button>
      </div>
      <small class="centered" id="hidden"><em>Changes saved!</em></small>
      <small class="centered" id="hidden2"><em>Job deleted!</em></small>
    </form>
  </article>
</div>
