<div class="card mb-3" id="card">
  <div class="row no-gutters" (click)="selectJobCard()">

    <div class="col-md-4">
      <img
        src="{{ job.jobPic }}"
        class="card-img centered-and-cropped"
        height="130px"
        alt="job-image"
      />
    </div>

    <div class="col-md-8" tabindex="1">
      <div class="card-body jobcard">

        <div>
          <h5 class="card-title">{{ job.title }}</h5>
        </div>

        <div>
          <p class="card-text">
            {{ job.location.city }}, {{ job.location.country }}
          </p>
        </div>

        <br>

        <div class="row">
          <div class="col-md-6" style="padding-right: 0px;">
            <h5 class="card-title jobprice">
              {{ job.price }} SEK
            </h5>
          </div>
          <div class="col-md-6" style="padding-left: 0px;">
            <p class="card-text jobdate">
              {{ job.date }}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>