<div class="card mb-3" id="card">

  <div class="row no-gutters" (click)="selectJobCard()">
    <div class="col-md-4">
      <img
        src="{{ job.jobPic }}"
        class="card-img centered-and-cropped"
        height="130px"
        width="100px"
        alt="job-image"
      />
    </div>

    <div class="col-md-8" tabindex="1">
      <div class="card-body">

        <div class="row">
          <div class="col-md-6">
            <h5 class="card-title">{{ job.title }}</h5>
          </div>

          <div class="col-md-6">
            <h5 class="card-title" style="text-align: right"> {{ job.price }} SEK </h5>
          </div>

          </div>
           <p class="card-text"> {{ job.location.city }}, {{ job.location.country }} </p>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-info small">delete</button>   
</div>

