<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class=""><a href="#" class="navbar-brand">Odd job</a></div>
  <ul class="navbar-nav">
    <li><a routerLink="/postjob" class="nav-link">Post job</a></li>
  </ul>
  <ul class="navbar-nav navbar-collapse justify-content-end">
    <li><a routerLink="/logout" class="nav-link">Logout</a></li>
    <li><a routerLink="/login" class="nav-link">Login</a></li>
    <li><a routerLink="/register" class="nav-link">Register</a></li>
  </ul>
</nav>