    <!--Posted and saved jobs-->
    <div id="marg" class="container">

      <div class="fiftyPercent right">

        <div class="ninetyPercent"> 
          <h4>Posted jobs:</h4>
          <div *ngFor="let job of jobsOwned">
            <job-card [job]="job"></job-card>
          </div>
        </div>
      </div>

      <div class="fiftyPercent right">
          
        <div class="ninetyPercent"> 
          <h4>Saved jobs</h4>
          <div *ngFor="let job of jobsApplied">
            <job-card [job]="job"></job-card>
          </div>
        </div>
      </div>

    </div> 