    <!--Posted and saved jobs-->
    <div id="marg" class="container">

      <div class="fiftyPercent right">

        <div class="ninetyPercent"> 
          <h4>Posted jobs</h4>
          <div *ngFor="let job of jobsOwned">
            <a routerLink="/jobs/{{job.id}}">
              <job-card [job]="job"></job-card>
            </a>
          </div>
        </div>
      </div>

      <div class="fiftyPercent right">
        
        <div class="ninetyPercent"> 
          <h4>Applied jobs</h4>
          <div *ngFor="let app of jobsApplied">
            <a routerLink="/jobs/{{app.jobId.id}}">
            <job-card [job]="app.jobId" [appId]="app.id"></job-card>
            </a> 
          </div>
        </div>
      </div>

    </div> 