.rowitems {
  margin-top: 30px;
  margin-bottom: 30px;
}

.searchbox {
  max-width: 400px;
}

.showAllJobs {
  width: 160px;
}

.nopadding {
  padding: 0px;
  margin: 0px;
}

.bothpadding {
  padding-left: 10px;
  padding-right: 10px;
}
