<form class="form-group container">
  <div class="row">
    <!-- Search box -->
    <div class="col-6">
      <input
        type="text"
        class="form-control form-control-lg"
        id="textbox"
        placeholder="Search for Odd Jobs!"
      />
    </div>
    <!-- Search button -->
    <div class="">
      <input
        (click)="sendDataToParent()"
        type="submit"
        class="btn btn-light btn-lg"
        value="Search"
      />
    </div>
    <!-- Show All Jobs button -->
    <div class="">
        <button class="btn btn-light btn-lg showAllJobs" (click)="showAllJobs()">Show All Jobs</button>
    </div>
  </div>
</form>
