<form class="form-group w-50 container">
  <div class="row">

    <div class="col">
      <input
        type="text"
        class="form-control form-control-lg"
        id="textbox"
        placeholder="Search for Odd Jobs!"
      />
    </div>
    <div class="col-2 my-auto">
      <input
        (click)="sendDataToParent()"
        type="submit"
        class="btn btn-light btn-lg"
        value=" Search "
      />
    </div>

    <div class="col-3 my-auto">
        <button class="btn btn-light btn-lg" (click)="showAllJobs()" > Show All Jobs </button>
    </div>
  </div>
</form>
