<form class="form-group nopadding">
  <div class="row rowitems justify-content-center">
    <!-- Search box -->
    <div class="col searchbox nopadding">
      <input
        type="text"
        class="form-control form-control-lg"
        id="textbox"
        placeholder="Search for Odd Jobs!"
      />
    </div>
    <!-- Search button -->
    <div class="bothpadding">
      <input
        (click)="sendDataToParent()"
        type="submit"
        class="btn btn-light btn-lg"
        value="Search"
      />
    </div>
    <!-- Show All Jobs button -->
    <div class="">
      <button class="btn btn-light btn-lg showAllJobs" (click)="showAllJobs()">
        Show All Jobs
      </button>
    </div>
  </div>
</form>
